
.dashboard-main {
    background-color: #121212; 
    min-height: 100vh;
    color: white; 
    padding-top: 60px; 
    width: 100%;
}


.dashboard-content-area {
    width: 90%; 
    max-width: 1400px; 
    margin: 0 auto; 
    padding-bottom: 50px; 
}


@media (max-width: 768px) {
    .dashboard-content-area {
        width: 100%; 
        padding-left: 15px;
        padding-right: 15px;
    }
}