.password-link-bar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    font-size: 0.9em;
    margin-top: -10px;
    margin-bottom: 20px;
    color: #aaa;
}

.link-register .link-forgot {
    color: #888;
}

.action-link {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    margin-left: 5px;
}

.action-link:hover {
    text-decoration: underline;
}