.modal-backdrop {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #1c1c1c;
    color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
}

.message.success {
    color: #4CAF50; /* Hijau */
}

.message.error {
    color: #FF6347; /* Merah */
}