:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87); 
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: rgb(0, 0, 0);
  background-color: #121212;
}

#root {
  min-height: 100vh;
  width: 100%;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.bg-register {
    background-image: url('/background-cinema.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bg-login {
    background-image: url('/background-login.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.app-container {
    min-height: 100vh;
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}



.loading-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-spinner {
    
    padding: 20px 40px;
    background-color: #333;
    color: white;
    border-radius: 8px;
    text-align: center;
}

.spinner-animation {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 0 auto 10px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}